$primary_background_color : #0e181e;
$primary_text_color : #fff;

.layout {
  width: 100%;
  min-height: 100vh;
  // padding: 1rem;
  // background-color: $primary_background_color;

  .navigation-sec {
    width: 100%;
    height: 30%;
    // padding: 1rem;
    box-sizing: border-box;
    // background-color: $primary_background_color;

    .nav-top-content {
      width: 100%;
      height: 20%;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: space-between;
      color: $primary_text_color;
    }
    .nav-grid {
      margin: 1rem 0;
    }
  }
  @media (min-width : 520px) {
    .navigation-sec {
      height: 45%;
    }
  }
  .content-sec {
    width: 100%;
    height: 60%;
    background-color: #233946;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: $primary_text_color;
    padding: 1rem;

    .card {
      width: 100%;
      margin-top: 1rem;
      border-radius: 20px;
      background: none;
    }
  }
  @media (min-width : 520px) {
    .content-sec {
      height: 32rem;
    }
    .card {
      max-width: 50%;
      margin: 0 auto;
    }
  }
  .bottom-sec {
    height: 10%;
    background-color: #EDF0FF;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
  }
  @media (min-width : 520px) {
    .bottom-sec {
      min-height: 5rem;
      display: flex;
      align-items: center;
    }
  }
}
