// ul {
//     width: 70%;
//     display: flex;
//     align-items: center;
//     justify-content: space-evenly;
// }
// ul a {
//    text-decoration: none;
//    color: #fff;
//    font-size: 1.2rem;
// }

$primary-color: #fff;
// body {
//     background-color: $primary-color;
// }

ul {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    a {
        text-decoration: none;
        color: $primary-color;
        font-size: 1.2rem;
    }
}
